.Dark {
  text-align: center;
  height: 20.4rem;
  background-color: #282c34;
  color: blanchedalmond;
}
.Light{
  text-align: center;
  height: 20.4rem;
  background-color: whitesmoke;
  color: #282c34;
}

